.BuildControls {
    width: 100%;
    background: tomato;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
}
.BuildControls span {
    font-weight: bold;
}