.TextArea {
    width: 100%;
    display: block;
}

.TextArea {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.TextArea:focus {
    outline: none;
    background-color: #ccc;
}